<%= simple_form_for @lobby do |f| %>

  <div class="forom-inputs">
    <% unless @lobby.persisted? %>
      <%= f.input :competitive, as: :boolean %>
    <% end %>

    <%#= f.input %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create your Lobby", class: "btn-primary" %>
  </div>
<% end %>
