<div class="footer">
  <div class="footer-links">
    <p>Help</p>
  </div>
  <div class="footer-copyright d-flex justify-content between">

    <p>
      <i class="fab fa-github"></i>
      <a href="https://github.com/luidiblu" target="blank">Diego Pisani</a> |
      <a href="https://github.com/Mr-i-me" target="blank">Lucas Souza
      </a> |
      <a href="https://github.com/RicardoCR68" target="blank">Ricardo Ribeiro
      </a> |
      <a href="https://github.com/tzanette" target="blank">Thiago Zanette
      </a>
    </p>

  </div>
</div>
