<div class="backgroundbanner">
  <div class="container">
    <div class="d-flex bannertext">
      <span id="typed-text"></span>
      <span id="typed"></span>
    </div>
    <div class="d-flex btn-group">
      <%= link_to "Search a Game", "#", class: "landing1-btn" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "landing1-btn" %>
    </div>
  </div>
</div>
