<div class="container">
<%= simple_form_for @game do |f| %>

  <div class="forom-inputs">
    <%= f.input :name,
                required: true %>

    <%#= f.input :name, hint: "Ex: Dual - 2 players." %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, (@game.persisted? ? "Update the game" : "Add a Game"), class: "w-100 btn-primary" %>
  </div>
<% end %>
</div>
