<div class="container">
  <div class="card-row" >
    <% @games.each do |game| %>
      <%= link_to game_path(game) do %>
      <div class="card-space col-8 p-1">
          <div class="card p-2">
            <%= image_tag(game.photo ? game.photo : "http://suiteapp.com/shopflow-1-03-0/img/no_image_available.jpeg", class: "card-img") %>
            <div class="card-body">
              <p class="card-text"><%= game.name %></p>
              <p class="card-text"><% game.lobbies.limit(3) %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to "new", new_game_path %>

</div>

<!-- style="width: 80rem;" -->
