.background-edit-user {
  background-image: linear-gradient(rgba(20, 8, 10, 0.75), rgba(20, 8,10, 0.4)), url("https://free4kwallpapers.com/uploads/originals/2016/12/19/mega-mario-wallpaper.jpg");
//  background-position: center;
  // background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
// .upload-photo {
//   border: #d3d3d3 solid 1px;
//   padding: 16px 24px;
//   cursor: pointer;
//   font-weight: 500;
//   background: white;
//   border-radius: 2px;
// }
// .hidden{
//   display: none;
// }
//
// .upload-avatar{
//   border: #d3d3d3 solid 1px;
//   padding: 10px;
//   cursor: pointer;
//   font-weight: 500;
//   background: white;
//   border-radius: 30%;
//   border-style: dashed;
// }
