.game_banner_show {
  background-size: cover;
  background-position: center;
}


 .game_banner_show {
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 50vh;
  padding: 180px 0px;
 }

@media (min-width: 992px) {
  .game_banner_show h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 5rem;
    font-weight: bold;
  }
}

@media (max-width: 992px) {
  .game_banner_show h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  }
}


.lobby-name {
  color: white;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
  margin-bottom: 0px;
  text-align: auto;
  font-size: 15px;
}

.lobby-user {
  color: white;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
  margin-bottom: 0px;
  font-size: 14px;
}

.lobby-players {
  color: white;
  font-weight: bold;
  margin-right: 5px;
  text-decoration: none;
  margin-bottom: auto;
  width: auto;
}

.decoration-none {
  text-decoration: none;
}

.decoration-none a:hover {
text-decoration: none;
}

.lobbyamount {
  color: white;
  text-align: center;
}

.lobbyavaliable {
  font-weight: bold;
}

.lobby-card-1 {
  background-color: #616165;
  text-decoration: none;
  margin-bottom: -18px;
  padding: 10px;
}

.list-style-none {
  list-style-type: none;
}

.lobby-info-holder {
margin-bottom: 0px;
}

.fa-user-alt {
  color: #607B7D;
}

.competitiveclass {
  color: #f25304 !important;
  font-weight: bold;
}

.casualclass {
  color: #607B7D;
  font-weight: bold;
}
 .numberholder {
  width: 5%;
 }

.fa-star {
  color: #FFD700;
  font-size: 70px;
}

.createnewlobby {
  justify-content: center;
}


.backgame-btn{
  user-select: none;
  background-color: #fff;
  left: 70px;
  top: 80px;
  white-space: nowrap;
  margin: 4px;
  min-width: 280px;
  font-size: 2rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  line-height: 24px;
  padding: 30px 42px;
  border: 1px solid #2978A0;
  padding: 10px 0px 10px;
  border-radius: 20px;
  font-weight: medium;
}

.backgame-btn:hover{
  user-select: none;
  background-color: #2978A0;
  white-space: nowrap;
  margin: 4px;
  min-width: 280px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  line-height: 24px;
  padding: 38px 42px;
  padding: 10px 0px 10px;
  border-radius: 20px;
  font-weight: bold;
}

.gradient-class {
background: #2c3e50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #486b8e, #3498db);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #486b8e, #3498db);
border-top-left-radius: 12px;
border-top-right-radius: 12px;
padding-left: 10px;
padding-right: 10px;
}

.borderlobby {
  border: 2px solid black;
  border-radius: 14px;
  padding-right: 0px !important;
  padding-left: 0px !important;
  background-color: #6c6c6d;
}

