.bannertext1 {
  justify-content: center;
  margin: auto;
  color: #323232;
}

.backgroundbanner1 {
  background-image: linear-gradient(rgba(20, 8, 10, 0.75), rgba(20, 8,10, 0.4)), url("https://imgur.com/ByEZMY7.jpg");
  background-position: center;
  height: calc(100vh - 50px);
  background-size: cover;
}

.loginform {
background-color: #EBE9E9;
border-radius: 5%;
padding-right: 90px;
padding-left: 90px;
padding-top: 30px;
padding-bottom: 30px;
justify-content: center;
margin: auto;
}

.logintitle {
  text-align: center;
  color: #607B7D;
  padding-right: 150px;
  padding-left: 150px;
}

.aligntextcenter {
  text-align: center;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #607B7D;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(230, 130, 26, 0.25);
}

.btn-gamechanger {
  border-radius: 30px;
  background-color: #607B7D;
  width: 100%;
  font-weight: medium;
}

.btn-gamechanger:hover {
  background-color: #DF842A;
}
