.50vh{
  height: 50vh;
}

.wide-cover-center {
  background-size: cover;
  image-resolution: from-image;
  height: 50%;
}


.profile-photo {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  object-fit: cover;
}

.profile-photo-div {
  position: absolute;
  top: 35%;
  right: 5%;
  }
