/* Cursor */
.typed-cursor {
  color: white;
  font-size: 60px;
}

/* If fade out option is set */
.typed-fade-out {
  color: white;
}

#typed-text {
  color: white;
  font-size: 60px;
  font-weight: bold;

}

// background0

.bannertext {
  justify-content: center;
  margin: auto;
  padding-bottom: 10vh;
}

.backgroundbanner {
  background-image: linear-gradient(rgba(20, 8, 10, 0.75), rgba(20, 8,10, 0.4)), url("https://i.pinimg.com/originals/95/69/dd/9569dd8d39abff785045f5b3f0332d63.jpg");
  background-position: center;
  padding: 306px 0;
  background-size: cover;
}

// background2

.bannertext2 {
  justify-content: center;
  margin: auto;
}

.backgroundbanner2 {
  background-image: linear-gradient(rgba(20, 8, 10, 0.75), rgba(20, 8,10, 0.4)), url("https://i.pinimg.com/originals/95/69/dd/9569dd8d39abff785045f5b3f0332d63.jpg");
  background-position: center;
  padding: 306px 0;
  background-size: cover;
}
