.OT_publisher {
  width: 0 !important;
  height: 0 !important;
  border-radius: 50px;
}

.OT_video-poster {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAcCAYAAACDBoQZAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABV0RVh0Q3JlYXRpb24gVGltZQAyNC82LzEzoCj+TwAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAI3SURBVEiJlZQ/aBRREMZ/e5z4ngH/NKbQnFgo2oQUBiSNoCIhjTYmVilTprTQFMHCSgjprSyChBQKqUIQLBQDgo2gaCEYmySI/yDzhTtdi5tNNne7ubuBZZl53/e9mWHeQImZNGTSoknfTUr9v2jSUBmnTGjKpIaLtH4Nk6aKeEmB0BXgBVA54L5/wNUYwst8sIjwoDCe7ru74rjyzEw6DGx3yCovH2MIO2WZ9XcplCXSnw+0Eg8QamtvG77bLPCmHWgVk6om3TVpsHvhPTNp0PnVKrAE3ARuALeBE+XUpDXDBHgMXANGqsCYH1SBY8CXcrG2Us86D2CsAix3LqYrW64A48CWBxo9CmT4LWC8EkNouHMI2GgVTIpHIhPacN5WDKGRjcY6cCaGUAdW8oy0fCRWHF9z/u6cvQJO+XjMAPUO5dWBGcefdv6u2ALwF5iNIbwDJmi+0SLbBiYcN+u8hX0Ik+Z9X027XzNpzqT3Jm36f86kmp9PO36+7TqTomlnzQGPTOorSsukPj9PTVoz6Uh21rqCjgJPaL6IDeAp8BrYBE4CI8AdSPohfQ5MxhB+l7RjV3TUpFWT6i0ru+7x0SJe6RC56ADwNReqxRDWy/CdVtCfDn5PYj1ZNe+YdBy4AJwDBsito4SElPS+ST9oTvxn4GMM4ecepilyC7gHXKJDH1ssBd4CD2MIz7IyJ4HhHoWyZIadv0c26TJwHbgInKf55iLNhZnZL8CAb8An4AOwGkN4A/AfKl8uP6zIYRkAAAAASUVORK5CYII=") !important;
  opacity: 0.7 !important;
  // background: ;-position: 9px 5px !important;
  width: 45px !important;
  height: 36px !important;
    // right: auto !important;
    // margin-top: -18px !important;
    // margin-left: -18.5px !important;
    // border-left: none !important;
}
