<div class="the_profile">
  <div class="profile">
    <div class="profile-banner-div">
      <%= @user.banner_img %>
    </div>
    <div class="profile-info">
      <div class="profile-photo-div">
        <%= @user.avatar %>
      </div>
      <%= @user.name %>
      <%= @user.nickname %>
    </div>
  </div>
</div>

<div class="container">
</div>
